footer
  .container.text-center
    p.pull-left © 2016 Cirqulate, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/kareemg/cirqulate') GitHub Project
      li
        a(href='https://google.com') Issues
