lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

*.wt

*.2016-03-12T14-13-56Z-00000

*.interim

*.0000000001

*.0000000002

*.lock

WiredTiger

*.turtle

*.bson
