extends layout

block content
  h1 #{title}
  col-sm-offset-3.col-sm-7
    a(href='/newposting')
      i.fa.fa-user-plus
      | New Posting
  
  .employer-widget-container
    -for(i=0; i<postings.length; i++) {
      .posting-widget   
      h1 #{postings[i].duration}
        p #{postings[i].bio}
        h2
          //-for(j=0; j<postings[i].tags.length; j++) {
           // .tag 
             // -postings[i].tags[j];
          //-}
      
    -}
