extends layout

block content
  h1 Your Employer Dashboard
.employer-widget-container
  -console.log(postings);
  -for(i=0; i<postings.length; i++) {
    .posting-widget   
      h1 -postings[i].employee.profile.name;
      p -postings[i].bio;
      h2
        -for(j=0; j<postings[i].tags.length; j++) {
          .tag
            -postings[i].tags[j];
        -}
      
  -}
.form-group 
    col-sm-offset-3.col-sm-7
    button.btn.btn-success(type='submit')
    i.fa.fa-user-plus
    | Sign Up
  