extends layout

block content
<<<<<<< HEAD
  h1 Employee
  p.lead A boilerplate for Node.js web applications.
=======
  .bannercontainer
    h1 An employee exchange program for startups.
    h2 Revolutionize the way you train your employees.
  //p.lead A boilerplate for Node.js web applications.
>>>>>>> 69a17efe2723b2a558897b0d23abc56c81a602ce
  hr
  .row
    .col-sm-6
      h2 Employers, <span style="text-decoration: underline;">diversify</span> your talent pool
      p Let Cirqulate streamline the professional development of your team members. Join a vibrant community of startups and established businesses all working together to better themselves.
      p
        a.btn.btn-default(href='#', role='button') Learn more »
    .col-sm-6
      h2 Employees, <span style="text-decoration: underline;">enhance</span> your capabilities
      p Don't fall victim to the job plateau. Work with your company to recognize that broadening your horizons is mutually beneficial, and an investment into your extended skillset.
      p
<<<<<<< HEAD
=======
        a.btn.btn-default(href='#', role='button') Learn more »
    .col-sm-6
     // h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
     // h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
>>>>>>> 69a17efe2723b2a558897b0d23abc56c81a602ce
        a.btn.btn-default(href='#', role='button') View details »