extends layout

block content
  .page-header
  h3 New Posting
  form.form-horizontal(id='newposting-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='employee') Employee
      .col-sm-7
        input.form-control(type='employee', name='employee', id='employee', placeholder='Employee', autofocus)
    .form-group
      label.col-sm-3.control-label(for='employer') Employer
      .col-sm-7
        input.form-control(type='employer', name='employer', id='employer', placeholder='#{user.companyName}', disabled)
    .form-group
      label.col-sm-3.control-label(for='bio') Bio
      .col-sm-7
        input.form-control(type='bio', name='bio', id='bio', placeholder='')
    .form-group
      label.col-sm-3.control-label(for='duration') Duration
      .col-sm-7
        input.form-control(type='duration', name='duration', id='duration', placeholder='')
    .form-group
      label.col-sm-3.control-label(for='expiryDate') Expiry Date
      .col-sm-7
        input.form-control(type='expiryDate', name='expiryDate', id='expiryDate', placeholder='')   
    .form-group
      label.col-sm-3.control-label(for='tags') Tags
      .col-sm-7
        input.form-control(type='tags', name='tags', id='tags', placeholder='')
    .form-group
      label.col-sm-3.control-label(for='Job Duties') Job Duties
      .col-sm-7
        input.form-control(type='jobDuties', name='jobDuties', id='jobDuties', placeholder='')
    .form-group
      label.col-sm-3.control-label(for='idealSwitches') Ideal Switches
      .col-sm-7
        input.form-control(type='idealSwitches', name='idealSwitches', id='idealSwitches', placeholder='')
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-user-plus
          | Submit
